{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block body %}
<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">I am a Photographer</h1>
          <p class="lead text-muted">“When words become unclear, I shall focus with photographs. When images become inadequate, I shall be content with silence.”</p>
          <p>
            
            
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/1.jpg" class="d-block w-100" alt="...">
  
              
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/2.jpg" class="d-block w-100" alt="...">
  
              
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm ">
                <img src="/static/8.jpg" class="d-block w-100" alt="...">
  
              
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/7.jpg" class="d-block w-100" alt="...">
  
              
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/6.jpg" class="d-block w-100" alt="...">
  
              
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/2.jpg" class="d-block w-100" alt="...">
  
              
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/3.jpg" class="d-block w-100" alt="...">
  
              
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/4.jpg" class="d-block w-100" alt="...">
  
              
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/5.jpg" class="d-block w-100" alt="...">
  
              
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>
{% endblock body %}